h2{
    width: 200px;
    text-align: center;
}


h2.titulo_A{
    background-color: blue;
    color: white;

}

h2.titulo_B{
    background-color: #0000ff;
    color: #ffff;
}

h2.titulo_C{
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

h2.titulo_D{
    background-color: hsl(240, 100%, 50%);
    color: hsl(0, 0%, 100%);

}

h2.titulo_E{
    background-color: rgba(0, 0, 255, 0.562);
    color: rgb(37, 37, 37);
}