body{
    background-color: rgb(205, 218, 205);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(32, 128, 32);
}

h1#principal{
    color: white;
    text-align: center;
    background-color: green;
}

h2{
    color: rgb(21, 51, 21);
}