*{
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
}       

body{
    display: flex;
    flex-direction: column;
} 

body .container_top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    
}

body .container_top section{
    margin-top: 30px;
} 

.lista_bandeiras ul{
    display: flex;
    flex-direction: row;
    background-color: rgba(75, 75, 75, 0.116);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

.lista_bandeiras ul li{
    list-style-type: none;
    padding: 5px;
    transition: transform 0.3s;
    height: 40px;
    width: 50px;
    
}

.lista_bandeiras ul li:hover{
    transform: scale(1.1);
    

}

.lista_bandeiras ul li button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    height: 40px;
    width: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

.lista_bandeiras ul li img{
    height: 40px;
    width: 50px;
    border-radius: 8px;
    
}

main{
    background-color: rgba(19, 228, 29, 0.356);
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}



main .pais{
    display: none;
}

main .pais h2, .pais_america_sul h2{
    text-align: center;
    padding-bottom: 20px;
}

main .pais p, .pais_america_sul p{
    padding: 10px;
    text-align: center;
    letter-spacing: 1.05px;
    
}